.img-small {
  width: 180px !important;
  height: 140px;
}

.centered {
  text-align: center;
}

.img-wrap {
  display: inline-block;
  float: left;
  width: 180px;
  height: 140px;
  position: relative;
}

.del {
  display: inline-block;
  float: right;
  margin: 0 0 0 0 ;
  position: absolute;
  top: 0;
  right: 0;
}

label {
  opacity: 0;
}

#add-image {
  margin-top: 5px !important;
  padding-top: 5px !important;
}
