{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/countdown.css' %}" />
    {{ form.media }}
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <h3>New Countdown</h3>
          <form class="" method="post">
            <table>
              {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" name="" value="submit" class="btn btn-primary">
          </form>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <form class="" action="/pass/" method="post">
            {% csrf_token %}
            <label for="code">Go to management -></label>
            <input type="text" name="code" value="" class="manage-code">
            <input type="submit" name="" value="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
