{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
  <div class="row" style="height: 30px"></div>

  <div class="row">
    <div class="col-md-4">
      <form class=""  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-8">
      {% for image in current_images %}

      <form class="" action="{% url 'image_delete_view' image.id %}" method="get">
        {% csrf_token %}
        {{ image }}
        <input type="submit" name="" value="Delete">
      </form>
      {% endfor %}
    </div>
  </div>

</div>



{% endif %}

{% endblock %}
