{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row" style="height: 30px"></div>
      <div class="row">
        <div class="col-md-6">
          countdown URL: <a href="{% url 'countdown_view' countdown.base_slug %}">begincount.com/{{ countdown.base_slug }}</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <form class=""  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit" class="btn btn-primary">
          </form>
        </div>
        <div class="col-md-6">
          {% if not current_images %}
          <p>No images yet!</p>
          {% endif %}
          {% for image in current_images %}
          <form class="" action="{% url 'image_delete_view' image.id %}" method="get">
            {% csrf_token %}
            <img class='img-small' src="{{ MEDIA_URL }}{{ image.image_url }}" alt="">

            <input type="submit" name="" value="Delete">
          </form><br>
          {% endfor %}
        </div>
      </div>

    </div>

  </body>
</html>
