{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/countdown.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="row placeholder"><h1 class="title">{% if countdown.title %}{{countdown.title}}{% else %}Title{% endif %}</h1></div>

<div class="row">
  <div class="col-md-4"></div>
    <div id=clockdiv>
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
</div>



  </body>
  <script type="text/javascript">
    document.body.background = "{{ MEDIA_URL }} {{ background.image_url }}";

    var deadline = '{{ end }}';
    function getTimeRemaining(endtime){
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor( (t/1000) % 60);
      var minutes = Math.floor( (t/1000/60) % 60);
      var hours = Math.floor( (t/(1000*60*60)) % 24);
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }
    function initializeClock(id, endtime){
      var clock = document.getElementById(id);
      var daysSpan = clock.querySelector('.days');
      var hoursSpan = clock.querySelector('.hours');
      var minutesSpan = clock.querySelector('.minutes');
      var secondsSpan = clock.querySelector('.seconds');
      function updateClock(){
        var t = getTimeRemaining(endtime);
        daysSpan.innerHTML = t.days;
        hoursSpan.innerHTML = t.hours;
        minutesSpan.innerHTML = t.minutes;
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
        if(t.total <= 0){
          clearInterval(timeinterval);
        }
      }
    updateClock();
    var timeinterval = setInterval(updateClock, 1000)
  }
    initializeClock('clockdiv', deadline);
  </script>
</html>
