{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>BeginCount</h1>

      <form class="" action="/pass/" method="post">
        {% csrf_token %}
        <label for="code">Go to management -></label>
        <form class="" action="" method="POST">

        </form>
        <input type="text" name="code" value="">
        <input type="submit" name="" value="submit">
      </form>
    </div>




  </body>
</html>
