{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <a href="{% url 'countdown_view' countdown.base_slug %}"><h2 class="centered">TO COUNTDOWN</h2></a>
      <div class="row">
        <div class="col-md-6">

          <div class="panel panel-default centered">
            <div class="panel panel-heading">
              <h3>Add Image</h3>
            </div>
            <div class="panel-body">
              <form class=""  enctype="multipart/form-data" action="{% url 'image_create_view' countdown.management_slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
            </div>
          </div>

          {% if not images %}
          <p>No images yet!</p>
          {% endif %}
          {% for image in images %}
          <form class="" action="{% url 'image_delete_view' countdown.management_slug image.id %}" method="get">
            {% csrf_token %}
            <div class="img-wrap">
              <img class='img-small' src="{{ MEDIA_URL }}{{ image.image_url }}" alt="">
              <input class="btn btn-danger del" type="submit" name="" value="X">
            </div>
          </form>
          {% endfor %}
        </div>
        <div class="col-md-6">
          <div class="panel panel-default centered">
            <div class="panel panel-heading">
              <h3>Edit Title</h3>
            </div>
            <div class="panel-body">
              <form class="" action="{% url 'title_view' countdown.management_slug countdown.id %}" method="post">
                {% csrf_token %}
                  {{ title }}
                  <input class="btn btn-primary" type="submit" name="" value="Submit">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
